{% extends "layout.html" %}

{% block body %}
<a href="/">Home</a>

<h1>Transactions</h1>

<form method="post" action="/transactions/import" enctype="multipart/form-data">
  <input type="file" name="import_file" />
  <input type="submit" value="Import" />
</form>

<table>
  <tr>
    <th>Date</th>
    <th>Label</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <td>{{ '{0:02d}/{1:02d}/{2}'.format(transaction[3], transaction[2], transaction[1]) }}</td>
    <td>{{ transaction[6] }}</td>
    <td>{{ '{0:,.2f} €'.format(transaction[7]).replace(',', ' ') }}</td>
    <td>{{ transaction[9] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
